{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/middleware/(.*)$",
    "^@/shared/(.*)$",
    "^@/exceptions/(.*)$",
    "^@/generated/(.*)$",
    "^@/schemas/(.*)$",
    "^@/types/(.*)$",
    "^@/(.*)",
    "^@/(.*)/controllers/(.*)$",
    "^@/(.*)/services/(.*)$",
    "^@/(.*)/middleware/(.*)$",
    "^@/(.*)/schemas/(.*)$",
    "^@/(.*)/types/(.*)$",
    "^@/(.*)/(.*)$",
    "^[./]"
  ]
}
